<html>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <header>
        <div class="w3-container w3-teal">
            <h1 style="font-family: Didot, serif;">Chili Beans</h1>
          </div>

    </header>
    <body>
    
    <!-- Sidebar -->
    <div  class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <img src="../assets/img/chili beans.png" alt="Car" style="width: 150px; ">
      <h3 class="w3-bar-item">Menu</h3>
     
      <a href="#" class="w3-bar-item w3-button">Óculos</a>
      <a href="#" class="w3-bar-item w3-button">Relogios</a>
      
    </div>
    
    <!-- Page Content -->
    <div style="margin-left:25%">
    
   

    <img src="../assets/img/modelochili.jpg" alt="Car" style="width: 70%; ">
    
    
    
    <div class="w3-container" >
    <h2>Sobre</h2>
    <p>A Chilli Beans é a maior empresa de pós venda de relógios e óculos de sol e acessórios da América Latina.</p>
    <hr/>
    <h2>Historia</h2>
    <p>Iniciou suas atividades em 1997, sob o comando do empresário Caito Maia que abriu um pequeno estande no Mercado Mundo Mix – feira de moda voltada para o público jovem –, em São Paulo, comercializando óculos de sol com design focado nas tendências fashion. Chamou a atenção pela oferta de produtos modernos e de qualidade, com preços acessíveis.</p>
   
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  
    <hr/>
    <footer style="color: aqua;">
    <p>Author: Caio Almeida Alves<br>
    <a href="mailto:caioalvesalmeida04@gmail.com">caioalvesalmeida04@gmail.com</a></p>
  </footer>
    </div>
   
  
  
    </body>
    </html>